* {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, .email {
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    font-weight: 400;

}

h1 {
    font-size: 4rem;
}

p {
    font-family: "Inter", sans-serif;
}

.section-title {
    font-size: 3rem;
}

.subtitle {
    font-style: italic;
    font-weight: 500;
    margin-top: -0.5rem;
    color: #424242;
}

.section-header {
    margin-bottom: 2rem;
}

section {
    padding: 2rem;
    margin-bottom: 5rem;
    overflow-x: hidden;

}

.cat-doodle {
    width: 100%;
}


/* Navigation */
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    /* border-bottom: 2px solid #000; */
    width: 100%;
    padding: 1rem;
    z-index: 10000;
}

#menu {
    cursor: pointer;
    position: relative;
    z-index: 1001;
}

/* Menu Items Container */
#menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    transition: transform 0.3s ease;
    z-index: 1000;
    opacity: 0; /* Start hidden */
}

#menu-items a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.logo {
    height: 3rem;
}

/* Hero */
#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    padding: 0rem;
    min-height: 100vh;
}

.hero-caption {
    text-align: center;
    margin-top: 3rem;
    padding: 2rem;
}

.hero-caption p {
    font-weight: 500;
}

/* Staff */
.staff-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.staff-card {
    border: 2px solid #000;
    padding: 1rem;
    border-radius: 1rem;
}

/* Services */
.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem;
    gap: 0.8rem;
}

.service-card svg {
    margin-bottom: 2rem;
}

.service-title {
    font-size: 1.5rem;
    font-style: italic;
}

/* Swiper Slides */
.swiper {
    max-width: 100%;
    height: 320px;
    margin-top: 10.3rem;
    position: relative;
}

@media only screen and (max-width:390px) {
    .swiper{
        margin-top: 9.3rem;
    }
}

@media only screen and (width:390px) {
    .swiper{
        margin-top: 9.9rem;
    }
}

@media only screen and (width:375px) {
    .swiper{
        margin-top: 9.5rem;
    }
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
}

.swiper-slide img {
    height: 6rem;
    width: 6rem;
    border-radius: 10rem;
    border: 3px solid #000;
}

.swiper-slide:nth-child(n) {
    background-color: #fff;
    border: 2px solid black;
    overflow-x: auto;
}

/* Reviews */
.review-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 2rem;
}

.a {
    position: absolute;
    width: 90vw;
    margin-left: -1rem;
    z-index: 2;
}

/* Contact */
.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.email {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    padding-top: 5rem;
}

.footer-brand {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    gap: 1rem;
}

.footer-brand h3 {
    font-size: 2rem;
}

.footer-logo {
    height: 5rem;
}

.icons {
    padding-left: 2rem;
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
 



